dev:
  # The dynamodb table to store slack data
  SLACK_TABLE_NAME: slack-photo-map_slack

  # The DynamoDB table to store user settings
  USERS_TABLE_NAME: slack-photo-map_users

  # The DynamoDB table to store information about uploaded files
  FILES_TABLE_NAME: slack-photo-map_files

  # Verification token
  SLACK_VERIFICATION_TOKEN: "xxxxxxxx"

  # Client ID - quotes required
  SLACK_CLIENT_ID: "xxxxxxxx.xxxxxxxx"

  # Client Secret - quotes required
  SLACK_CLIENT_SECRET: "xxxxxxxx"

  # OAuth access token
  OAUTH_ACCESS_TOKEN: ""